<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css.css">
</head>
<body>
    <h2>Testando inserts</h2>
    <label>Digite alguma coisa</label>
    <input type="text" id="texto">

    <button id="botao">Testando evento insert</button>

    <p id="recebe"></p><br><br>

    <button id="btnEvent">Teste</button><br><br><br><br>


    <!--   Testando o Toggle  -->
    <button id="toggle" onclick="toggle()">Usando o Toggle</button><br>
    <div id="qdro"></div>











    <script src="./script.js"></script>
</body>
</html>