<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="calculadora">
        <label>Numero 1</label>
        <input type="text" id="num1">

        <label>Numero 2</label>
        <input type="text" id="num2"><br><br>

        <button onclick="somar()">Somar</button><br>
        <button onclick="subtrair()">Subtrair</button><br>
        <button onclick="multiplicar()">Multiplicar</button><br>
        <button onclick="dividir()">Dividir</button>


        <script src="./js.js"></script>
    </div>
</body>
</html>